@font-face {
  font-display: swap;
  font-family: "Konstancia";
  font-style: normal;
  font-weight: 300;
  src: url("..font/Konstancia.ttf") format("ttf");
}
* {
  box-sizing: border-box;
}
h4 {
  margin: 8px 0;
}
h3 {
  text-align: center;
  margin: 0.5em 0;
}
h5 {
  text-align: center;
}
ul {
  padding: 0;
  list-style: none;
}
.title-font {
  font-size: 1.5em;
  margin: 1em;
  text-align: center;
}
.link {
  text-decoration: underline;
}
.small-text {
  width: max-content;
  line-height: 1.2em;
  border-top: 1px solid rgb(209, 209, 175);
  border-bottom: 1px solid rgb(209, 209, 175);
  font-size: 0.5em;
  color: rgb(82, 82, 75);
  padding: 0.7em;
}
.left-line {
  border-left: 3px solid rgb(209, 209, 175);
  padding: 1em;
  font-style: italic;
  margin-left: 2em;
}
.quote {
  text-align: end;
  font-weight: 600;
  font-style: italic;
}
.body {
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2em;
  line-height: 1.5em;
  margin: 0;
  background-image: url(./image/texture2.jpg);
  background-attachment: fixed;
  background-color: rgb(209, 209, 175);
  color: rgb(68, 67, 60);
}
.container {
  background-color: white;
  max-width: 1000px;
  padding: 0 60px 20px 60px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  box-shadow: 0 -6px 8px -4px rgba(0, 0, 0, 0.2);
}
.title-first {
  color: rgb(143, 143, 126);
  font-size: 1.5em;
  text-align: start;
}
.title-block {
  font-size: 24px;
  border-left: 4px solid rgb(231, 83, 57);
  padding: 20px;
}
.title-main {
  font-size: 42px;
  text-transform: uppercase;
  font-weight: 800;
  color: rgb(68, 67, 60);
}
.title-award-block {
  align-self: flex-start;
  padding: 120px 40px 0 40px;
  display: flex;
}
.award {
  text-align: end;
  font-size: 24px;
  font-weight: 600;
  padding: 20px;
  max-width: 150px;
}
.bottom-block {
  justify-content: space-between;
  max-width: 800px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  background-color: rgb(209, 209, 175);
  padding: 0 10px;
  font-size: 0.8em;
  margin-top: 12px;
}
.header-container {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}
.logo-block {
  position: absolute;
  display: flex;
  align-items: center;
  top: -2em;
  left: 1em;
}

.award-text-bottom {
  flex-basis: 80%;
  font-style: italic;
}
.date-block {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.font {
  font-family: "Open Sans", cursive;
  font-weight: 300;
  font-style: italic;
}
.numb {
  font-size: 42px;
  font-weight: 800;
  color: rgb(68, 67, 60);
}

.box-numb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2em;
  margin-right: 2em;
}
.nav-block {
  gap: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}
.nav-col {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
}
.nav-text {
  border-bottom: 2px solid rgb(209, 209, 175);
  padding-bottom: 1em;
}
.main {
  position: relative;
  padding: 1rem 1rem 3rem;
  min-height: calc(100vh - 4rem);
}
.hidden {
  display: none;
}

.pagination-container {
  width: calc(100% - 2rem);
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  justify-content: center;
}

.pagination-number,
.pagination-button {
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  margin: 0.25rem 0.25rem;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 0.2rem;
}

.pagination-number:hover,
.pagination-button:not(.disabled):hover {
  background: #fff;
  border-radius: 50%;
}

.pagination-number.active {
  color: rgb(194, 66, 7);
}

.shadow-line {
  width: 100%;
  height: 1px;
  background-color: rgb(209, 209, 175);

  box-shadow: 0 2px 8px 2px rgba(99, 90, 78, 0.2);
}
.title-content {
  display: flex;
  gap: 0.5em;
  margin-bottom: 2em;
}
.grey-box {
  background-color: rgb(209, 209, 175);
  height: 4em;
  width: 2em;
}
.content {
  font-size: 2.5em;
  font-weight: 800;
  color: rgb(209, 209, 175);
  align-self: flex-end;
}
.item-content {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: space-between;
}
.circle {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: rgb(209, 209, 175);
  flex-shrink: 0;
  align-self: center;
}
.item-content span {
  background-color: rgb(209, 209, 175);
  padding: 6px;
  border-radius: 4px;
  width: max-content;
  min-width: max-content;
}

.item {
  gap: 0.5em;
  align-items: center;
  display: flex;
}
.title-content-block ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.gap {
  margin: 1em;
}
.page-title {
  background-color: rgb(209, 209, 175);
  padding: 0.2em;
  font-size: 2em;
  text-align: center;
  border-radius: 0 20px 0 20px;
  margin-bottom: 1em;
}
.cursive {
  margin: 0 auto 1em auto;
  max-width: 800px;
  width: 100%;
  border-bottom: 1px dashed rgb(209, 209, 175);
  border-top: 1px dashed rgb(209, 209, 175);
  padding: 1em;
  text-align: justify;
}
.indent {
  text-indent: 1.5em;
  text-align: justify;
}
.left-line div {
  text-align: end;
}
.grey-bg {
  padding: 0.5em;
  background-color: #d1d1af;
  border-radius: 4px;
  max-width: max-content;
}
.end-text {
  text-align: end;
}
footer {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 100%;
  padding: 1em;
  font-size: 0.7em;
  line-height: 1.2em;
}
.footer-main-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-title {
  background-color: rgb(223, 174, 69);
  color: #fff;
  padding: 0.5em;
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
}
.astrology-page {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  padding: 1em;
  border-radius: 12px;
  margin: 0 auto;
}
/* .footer-bg-orange {
  background-color: rgb(223, 174, 69);
  color: #fff;
  padding: 0.5em;
} */
